html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
section {
  padding: 2rem 0;
}

/* label {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dotted black;
  border-radius: 20px;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  font-size: large;
} */

label span {
  font-weight: lighter;
  font-size: small;
  padding-top: 0.5rem;
}

/* input {
  display: none;
} */

img {
  padding: 0;
  margin: 0;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image {
  margin: 1rem 0.5rem;
  position: relative;
  box-shadow: #0000000d 0px 1px 2px 0px;
}
.ImgDelete{
  position: absolute;
  top: 17px;
  right: 1px;
}

.image button {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  border: none;
  color: white;
  background-color: lightcoral;
}

.image button:hover {
  background-color: red;
}

.image p {
  padding: 0 0.5rem;
  margin: 0;
}

.upload-btn {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 20px;
  width: 10rem;
  height: 3rem;
  color: white;
  background-color: green;
}

/* label:hover,
.upload-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
} */

.error {
  text-align: center;
}

.error span {
  color: red;
}
.outercontainer{
display: flex;
}
.navbar_icon{
  font-size: 23px;
}
.brand_like{
  color:  #D5D5D5;
  font-size:  2rem;
}
.footer_icon{
  font-size: 36px;
  margin-right: 6%;
}
input {
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}
.goBackLink{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */

  text-align: justify;

  color: rgba(0, 0, 0, 0.6);
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 8px;
}